{% extends 'layouts/basedashboardadmin.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a href="{% url 'home_admin' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Administration</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_admin' %}">Super Administrateurs</a></li>
                        <li><a href="{% url 'liste_role' %}">Rôles</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'liste_departements' %}"><i data-feather="box"></i><span>Départements</span><span class="menu-arrow"></span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span>Comptes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_salarie' %}">Salariés</a></li>
                        <li><a href="{% url 'liste_partenaire' %}">Partenaires</a></li>
                        <li><a href="{% url 'liste_client' %}" class="active">Client</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'liste_contrat' %}"><i data-feather="file-text"></i><span> Contrats</span> <span class="menu-arrow"></span></a>
                </li>
                <li>
                    <a href="{% url 'liste_fichePaie' %}"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Fiche de paie</span> <span class="menu-arrow"></span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Rapport</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Demande Partenaires</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/settings.svg' %}" alt="img"><span> Paramètres</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'configurer_email' %}">Email</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% endblock sidebar %}
<!-- sidebar -->
<!-- MAIN -->
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'liste_client' %}">Liste des clients</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'creer_client' %}">Ajouter un client</a></li>
            </ol>
        </nav>
        <br>
        <div class="page-header">
            <div class="page-title">
                <h2>Ajouter un client</h2> 
            </div>
        </div>
        <form action="{% url 'creer_client' %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Informations professionnels</h3> 
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="role">Rôle dans le système</label>
                                <select class="select" id="role-fields" name="role" required>
                                    <option value="">Aucun</option>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}" {% if role.id|stringformat:"s" == role_id|stringformat:"s" %}selected{% endif %}>{{ role.nom_role }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.role %}
                                    <div class="text-danger">{{ errors.role }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="entreprise">Entreprise affilier</label>
                                <select class="select" id="entreprise" name="entreprise">
                                    <option value="">Selectionner...</option>
                                    {% for entreprise in entreprises %}
                                        <option value="{{ entreprise.id }}" {% if entreprise.id|stringformat:"s" == entreprise_id|stringformat:"s" %}selected{% endif %}>{{ entreprise.nom_entreprise }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="poste_occupe">Fonction exercé</label>
                                <input type="text" class="form-control" id="poste_occupe" name="poste_occupe" value="{{ poste_occupe|default:'' }}" placeholder="Veuillez saisir la fonction exercé par le client" required>
                                {% if errors.poste_occupe %}
                                    <div class="text-danger">{{ errors.poste_occupe }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h3>Informations personnels</h3> 
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="nom_client">Nom du Client</label>
                                <input type="text" class="form-control" id="nom_client" name="nom_client" value="{{ nom_client|default:'' }}" placeholder="Veuillez saisir le nom client" required>
                                {% if errors.nom_client %}
                                    <div class="text-danger">{{ errors.nom_client }}</div>
                                {% endif %}
                            </div>  
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="prenom_client">Prénom du Client</label>
                                <input type="text" class="form-control" id="prenom_client" name="prenom_client" value="{{ prenom_client|default:'' }}" placeholder="Veuillez saisir le prénom du client" required>
                                {% if errors.prenom_client %}
                                    <div class="text-danger">{{ errors.prenom_client }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sexe">Sexe</label>
                                <select class="select" id="sexe" name="sexe">
                                    <option value="">Selectionner...</option>
                                    <option value="H" {% if sexe == 'H' %}selected{% endif %}>Homme</option>
                                    <option value="F" {% if sexe == 'F' %}selected{% endif %}>Femme</option>
                                </select>
                                {% if errors.sexe %}
                                    <div class="text-danger">{{ errors.sexe }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="telephone">Téléphone</label>
                                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Veuillez saisir le numéro de téléphone" value="{{ telephone }}">
                                {% if errors.telephone %}
                                    <div class="text-danger">{{ errors.telephone }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Veuillez saisir l'email" value="{{ email }}">
                                {% if errors.email %}
                                    <div class="text-danger">{{ errors.email }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="adresse">Adresse</label>
                                <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Veuillez saisir l'adresse" value="{{ adresse }}">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                            <a href="{% url 'liste_client' %}" class="btn btn-cancel">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- MAIN -->
{% endblock content %}