{% extends 'layouts/basedashboardclient.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="nav-small-cap">
                    <span class="hide-menu">Accueil</span>
                </li>
                <li>
                    <a href="{% url 'home_client' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Documents</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Demandes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'demande_client' %}" class="active">Faire une demande</a></li>
                        <li>
                            <a href="{% url 'mes_demandes_client' %}">
                                <span>  Mes demandes</span>
                                <span class="badge badge-warning">{{ user_demandes_en_attente }}</span>
                                <span class="badge badge-success">{{ user_demandes_validees }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i data-feather="file-text"></i><span> Contrats</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_salaries_contrats_client' %}">En cours et Terminer</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Fiches de paie</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_fiches_de_paie_client' %}">Payées et Impayées</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock sidebar %}
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'mes_demandes_client' %}">Mes demandes</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'demande_client' %}">Faire une demande</a></li>
            </ol>
        </nav>
        <br>
        <div class="page-header">
            <div class="page-title">
                <h2>Faire une demande</h2> 
            </div>
        </div>
        <form action="{% url 'demande_client' %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="titre">Titre</label>
                                <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre de la demande" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="details">Détails</label>
                                <textarea class="form-control" id="details" name="details" placeholder="Détail concernant la demnande" ></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary me-2">Effectuer</button>
                            <a href="{% url 'mes_demandes_client' %}" class="btn btn-danger me-2">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}