{% extends 'layouts/basedashboardclient.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="nav-small-cap">
                    <span class="hide-menu">Accueil</span>
                </li>
                <li class="active">
                    <a href="{% url 'home_client' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Documents</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Demandes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'demande_client' %}">Faire une demande</a></li>
                        <a href="{% url 'mes_demandes_client' %}">
                            <span>  Mes demandes</span>
                            <span class="badge badge-warning">{{ user_demandes_en_attente }}</span>
                            <span class="badge badge-success">{{ user_demandes_validees }}</span>
                        </a>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i data-feather="file-text"></i><span> Contrats</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_salaries_contrats_client' %}">En cours et Terminer</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Fiches de paie</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_fiches_de_paie_client' %}" class="active">Payées et Impayées</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock sidebar %}
<!-- sidebar -->
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="page-header">
            <div class="page-title">
                <h2>Liste des fiches de paie</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Identifiant de la paie</th>
                                <th>Salarié</th>
                                <th>Document</th>
                                <th>Date de création</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fiche_paie in fiches_paie %}
                            <tr>
                                <td>{{ fiche_paie.nom_identifiant_paie }}</td>
                                <td>{{ fiche_paie.salarie.nom_salarie }} {{ fiche_paie.salarie.prenom_salarie }}</td>
                                <td><a href="{{ fiche_paie.enregistrerpdf_set.first.file.url }}" download>Télécharger</a></td>
                                <td>{{ fiche_paie.fait_le }}</td>
                                <td>{% if not fiche_paie.est_payer %}
                                        <span class="bg-lightgreen badges">Payé</span>
                                    {% else %}
                                        <span class="bg-lightred badges">Non payé</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}