{% extends 'layouts/basedashboardadmin.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="nav-small-cap">
                    <span class="hide-menu">Accueil</span>
                </li>
                <li >
                    <a href="{% url 'home_admin' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Administrations</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Managements</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_roles' %}">Rôles</a></li>
                        <li><a href="{% url 'liste_admins' %}" class="active">Administrateurs</a></li>
                        <li><a href="{% url 'liste_entreprises' %}">Entreprises</a></li>
                        <li><a href="{% url 'liste_contrats_affectations' %}">Affectations</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Gestions</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span>Comptes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_salaries' %}">Salariés</a></li>
                        <li><a href="{% url 'liste_partenaires' %}">Partenaires</a></li>
                        <li><a href="{% url 'liste_clients' %}">Client</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Documents</span>
                </li>
                <li>
                    <a href="{% url 'liste_doc_contrats' %}"><i data-feather="file-text"></i><span> Contrats</span> <span class="menu-arrow"></span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Fiches de paie</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_fichesPaie' %}">Salariés</a></li>
                        <li><a href="{% url 'liste_fichesPaie_affectation' %}">Affectations</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'liste_demandes' %}">
                        <img src="{% static 'assets/img/icons/time.svg'  %}" alt="img">
                        <span> Demandes</span> 
                        <span class="badge badge-info">{{ demandes_en_attente }}</span> <!-- En attente -->
                        <span class="badge badge-success">{{ demandes_validees }}</span> <!-- Validées -->
                        <span class="badge badge-danger">{{ demandes_refusees }}</span> <!-- Refusées -->
                    </a>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Paramètres</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/settings.svg' %}" alt="img"><span> Configuration</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'configurer_email' %}">Email</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% endblock sidebar %}
<!-- sidebar -->
<!-- MAIN -->
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'liste_admins' %}">Liste des administrateurs</a></li>
            </ol>
        </nav>
        <br>
        <div class="page-header">
            <div class="page-title">
                <h2>Administrateurs</h2>
            </div>
            <div class="page-btn">
                <a href="{% url 'creer_admin' %}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img">Ajouter</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Travail chez</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Sexe</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th>Adresse</th>
                                <th>Rôle</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admin in admins %}
                            <tr>
                                <td>{{ admin.travail_chez.nom_entreprise }}</td>
                                <td>{{ admin.nom_admin }}</td>
                                <td>{{ admin.prenom_admin }}</td>
                                <td>{{ admin.compte.sexe }}</td>
                                <td>{{ admin.compte.email }}</td>
                                <td>{{ admin.compte.telephone }}</td>
                                <td>{{ admin.compte.adresse }}</td>
                                <td>{{ admin.compte.role.nom_role }}</td>
                                <td>
                                    <a href="{% url 'statut' admin.compte.id %}">
                                        {% if admin.compte.is_active %}
                                            <span class="bg-lightred badges">Bloquer</span>  
                                        {% else %}
                                            <span class="bg-lightgreen badges">Activer</span>
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MAIN -->
{% endblock content %}