{% extends 'layouts/basedashboardadmin.html' %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="nav-small-cap">
                    <span class="hide-menu">Accueil</span>
                </li>
                <li>
                    <a href="{% url 'home_admin' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Administrations</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span> Managements</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_roles' %}">Rôles</a></li>
                        <li><a href="{% url 'liste_admins' %}">Administrateurs</a></li>
                        <li><a href="{% url 'liste_entreprises' %}" class="active">Entreprises</a></li>
                        <li><a href="{% url 'liste_contrats_affectations' %}">Affectations</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Gestions</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/users1.svg' %}" alt="img"><span>Comptes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_salaries' %}">Salariés</a></li>
                        <li><a href="{% url 'liste_partenaires' %}">Partenaires</a></li>
                        <li><a href="{% url 'liste_clients' %}">Client</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Documents</span>
                </li>
                <li>
                    <a href="{% url 'liste_doc_contrats' %}"><i data-feather="file-text"></i><span> Contrats</span> <span class="menu-arrow"></span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Fiches de paie</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_fichesPaie' %}">Salariés</a></li>
                        <li><a href="{% url 'liste_fichesPaie_affectation' %}">Affectations</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Demandes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_demandes' %}">Partenaires et clients</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Paramètres</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/settings.svg' %}" alt="img"><span> Configuration</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'configurer_email' %}">Email</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% endblock sidebar %}
<!-- sidebar -->

{% block content %}
<!-- MAIN -->
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'liste_entreprises' %}">Liste des entreprises</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'creer_entreprise' %}">Ajouter une entreprise</a></li>
            </ol>
        </nav>
        <br>
        <div class="page-header">
            <div class="page-title">
                <h2>Entreprises</h2> 
            </div>
        </div>
        <form action="{% url 'creer_entreprise' %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="type_entreprise">Type d'entreprise:</label>
                                <input type="text" class="form-control" id="type_entreprise" name="type_entreprise" placeholder="Type d'entreprise" value="{{ type_entreprise }}" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="nom_entreprise">Nom de l'entreprise:</label>
                                <input type="text" class="form-control" id="nom_entreprise" name="nom_entreprise" placeholder="Nom de l'entreprise" value="{{ nom_entreprise }}" required>
                                {% if errors.nom_entreprise %}
                                    <div class="text-danger">{{ errors.nom_entreprise }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="site_web">Site web:</label>
                                <input type="text" class="form-control" id="site_web" name="site_web" placeholder="Site web de l'entreprise" value="{{ site_web }}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description" placeholder="Description de l'entreprise" value="{{ description }}" rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                            <a href="{% url 'liste_entreprises' %}" class="btn btn-danger me-2">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- MAIN -->
{% endblock content %}