{% extends 'layouts/basedashboardentreprise.html' %}
{% block content %}
{% load static %}
{% block sidebar %}
<!--sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="nav-small-cap">
                    <span class="hide-menu">Accueil</span>
                </li>
                <li>
                    <a href="{% url 'home_partenaire' %}"><img src="{% static 'assets/img/icons/dashboard.svg' %}" alt="img"><span> Tableau de bord</span> </a>
                </li>
                <li class="nav-small-cap">
                    <span class="hide-menu">Documents</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/time.svg'  %}" alt="img"><span> Demandes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'demande_client' %}">Faire une demande</a></li>
                        <li><a href="{% url 'mes_demandes_client' %}" class="active">Mes demandes</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i data-feather="file-text"></i><span> Contrats</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_contrats_salarie' %}">En cours et Terminer</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/purchase1.svg' %}" alt="img"><span> Fiches de paie</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'liste_fiches_de_paie_salarie' %}">Payées et Impayées</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock sidebar %}
<div class="page-wrapper">
    <div class="content">
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'mes_demandes_client' %}">Mes demandes</a></li>
            </ol>
        </nav>
        <br>
        <div class="page-header">
            <div class="page-title">
                <h2>Faire une demande</h2> 
            </div>
            <div class="page-btn">
                <a href="{% url 'demande_client' %}" class="btn btn-primary">Faire une demande</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Statut</th>
                                <th>Voir plus</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for demande in demandes %}
                            <tr>
                                <td>{{ demande.titre }}</td>
                                <td>
                                    {% if demande.statut == 'EN_ATTENTE' %}
                                        <span class="badge bg-warning text-dark">En attente</span>
                                    {% elif demande.statut == 'VALIDE' %}
                                        <span class="badge bg-success">Validé</span>
                                    {% elif demande.statut == 'REFUSE' %}
                                        <span class="badge bg-danger">Refusé</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="me-3" href="#" data-toggle="modal" data-target="#demande{{ demandepartenaire.id }}">
                                        <i data-feather="file-text"></i>
                                    </a>
                                    
                                    <!-- The Modal -->
                                    <div class="modal fade" id="demande{{ demandepartenaire.id }}">
                                        <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Large modal -->
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h3 class="modal-title">Détails de la demande</h3>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <h5><strong>Titre :</strong></h5>
                                                    <p>{{ demande.titre }}</p> 
                                                    <h5 style="margin-top: 20px;"><strong>Détails :</strong></h5>
                                                    <p style="margin-bottom: 20px; white-space: pre-wrap; word-wrap: break-word;">{{ demande.details }}</p> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <!-- Fin en tête -->
                                </td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}